*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.profile-img{
    width: 300px;
    height: auto;
}

.card-img-top{
    height: 400px; 
    object-fit: cover
}

.sticky-top .d-flex{
    justify-content: center !important;
    align-items: center;
}
.sticky-top .me-auto{
    margin-right: 0 !important;
}

.container > h1.display-5{
    text-align: center;
    border-left: 0 !important;
}

.bg-dark.container-fluid .d-flex{
    text-align: center;
}

.bg-dark.container-fluid p{
    max-width: 60ch;
}